<div class="dialog-large">
  <h1 mat-dialog-title>
    <span *ngIf="!isSubscriptionParent">Bestilling</span>
    <span *ngIf="isSubscriptionParent">Abonnement</span>
  </h1>

  <mat-dialog-content>
    <div class="row">
      <div class="col-12">
        <form>
          <div class="form-group row">
            <label for="customer" class="col-2 col-form-label">Kunde</label>
            <div class="col-10">
              <select
                *ngIf="!isEditMode"
                class="form-control"
                id="customerElement"
                name="customerElement"
                [(ngModel)]="order.customer"
                required
              >
                <option
                  *ngFor="let customer of data.customers"
                  [ngValue]="customer"
                  >{{ customer.name }}</option
                >
              </select>
              <span *ngIf="isEditMode" class="form-control">{{
                order.customer.name
              }}</span>
            </div>
          </div>
        </form>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-12">
        <form #coffeeForm="ngForm" (ngSubmit)="addCoffee()">
          <div class="form-group row">
            <label for="customer" class="col-2 col-form-label">Kaffe</label>
            <div class="col-10">
              <select
                class="form-control"
                id="productElement"
                name="productElement"
                [(ngModel)]="orderItem.coffee"
                required
              >
                <option *ngFor="let coffee of data.coffees" [ngValue]="coffee">
                  {{ resolveCoffeeProductName(coffee) }}</option
                >
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="customer" class="col-2 col-form-label">Pose</label>
            <div class="col-10">
              <select
                class="form-control"
                id="variationElement"
                name="variationElement"
                [(ngModel)]="orderItem.variationId"
                (ngModelChange)="onProductVariationChange($event)"
                required
              >
                <option
                  *ngFor="let variation of getCoffeeProductVariations"
                  [ngValue]="variation.id"
                >
                  {{ resolveProductVariationString(variation) }}</option
                >
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="customer" class="col-2 col-form-label">Pris</label>
            <div class="col-10">
              <input
                type="number"
                min="0"
                max="99999"
                required
                class="form-control"
                name="price"
                [(ngModel)]="orderItem.price"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="customer" class="col-2 col-form-label">Antall</label>
            <div class="col-10">
              <input
                type="number"
                min="1"
                max="999"
                required
                class="form-control"
                name="quantity"
                [(ngModel)]="orderItem.quantity"
              />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-12">
              <button
                mat-stroked-button
                type="submit"
                class="float-right"
                [disabled]="!coffeeForm.valid"
              >
                Legg til kaffe
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-12">
        <form #freightForm="ngForm">
          <div class="form-group row">
            <label for="freight" class="col-2 col-form-label">Frakt</label>
            <div class="col-10">
              <input
                type="number"
                min="0"
                max="10000"
                style="width:100%"
                name="freight"
                class="form-control"
                required
                [(ngModel)]="order.freight"
              />
            </div>
          </div>
        </form>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-12">
        <form>
          <div class="form-group row">
            <label for="note" class="col-2 col-form-label">Notat</label>
            <div class="col-10">
              <textarea
                style="width:100%"
                rows="2"
                name="note"
                [(ngModel)]="order.notes"
                class="form-control"
              ></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-12">
        <app-order-details [order]="order"></app-order-details>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onNoClick()">Avbryt</button>
    <button
      mat-stroked-button
      [mat-dialog-close]="data"
      [disabled]="!isOrderValid"
    >
      <span *ngIf="isEditMode">Lagre</span>
      <span *ngIf="!isEditMode">Opprett</span>
    </button>
  </mat-dialog-actions>
</div>
