<!-- view modal -->
<button class="btn btn-primary btn-modal" data-toggle="modal" data-target="#fsModal">
  Lag ny bestilling
</button>
<!-- view modal -->

<!-- modal -->
<div id="fsModal" class="modal modal-fullscreen animated bounceIn" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">

  <!-- dialog -->
  <div class="modal-dialog modal-dialog-scrollable">

    <!-- content -->
    <div class="modal-content">

      <!-- header -->
      <div class="modal-header">
        <h1 id="myModalLabel" class="modal-title">
          Bestilling
        </h1>
      </div>
      <!-- header -->

      <!-- body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-md-6">
            <form>
              <div class="form-group row">
                <label for="customer" class="col-sm-2 col-form-label">Kunde</label>
                <div class="col-sm-10">
                  <select class="form-control" id="customerElement" name="customerElement" [(ngModel)]="order.customer"
                    required>
                    <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.name}}</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
          <!-- TODO: Does not bind... -->
          <!-- <div class="col-12 col-md-6">
            <form>
              <div class="form-group row">
                <label for="customer" class="col-sm-2 col-form-label">Levering</label>
                <div class="col-sm-10">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker3" placeholder="Value binding" [value]="order.deliveryDate">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div> -->
        </div>

        <div class="row">
          <div class="col-12 col-md-6">

            <form #coffeeForm="ngForm" (ngSubmit)="addCoffee()">

              <div class="form-group row">
                <label for="customer" class="col-sm-2 col-form-label">Kaffe</label>
                <div class="col-sm-10">
                  <select class="form-control" id="productElement" name="productElement" [(ngModel)]="orderItem.product"
                    required>
                    <option *ngFor="let product of products" [ngValue]="product">
                      {{resolveCoffeeProductName(product)}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="customer" class="col-sm-2 col-form-label">Pose</label>
                <div class="col-sm-10">
                  <select class="form-control" id="variationElement" name="variationElement"
                    [(ngModel)]="orderItem.productVariation" (ngModelChange)="onProductVariationChange($event)"
                    required>
                    <option *ngFor="let variation of getCoffeeProductVariations" [ngValue]="variation">
                      {{resolveProductVariationString(variation)}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="customer" class="col-sm-2 col-form-label">Pris</label>
                <div class="col-sm-10">
                  <input type="number" min="0" max="99999" required class="form-control" name="price"
                    [(ngModel)]="orderItem.price">
                </div>
              </div>

              <div class="form-group row">
                <label for="customer" class="col-sm-2 col-form-label">Antall</label>
                <div class="col-sm-10">
                  <input type="number" min="1" max="999" required class="form-control" name="quantity"
                    [(ngModel)]="orderItem.quantity">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary float-right" [disabled]="!coffeeForm.valid">Legg til
                    kaffe</button>
                </div>
              </div>

            </form>

          </div>

          <div class="col-12 col-md-6">
            <form #stashForm="ngForm" (ngSubmit)="addStash()">

              <div class="form-group row">
                <label for="customer" class="col-sm-2 col-form-label">Stash</label>
                <div class="col-sm-10">
                  <input type="text" required class="form-control" name="stashName"
                    [(ngModel)]="stashOrderItem.productVariation.name">
                </div>
              </div>

              <div class="form-group row">
                <label for="customer" class="col-sm-2 col-form-label">Pris</label>
                <div class="col-sm-10">
                  <input type="number" min="1" max="99999" required class="form-control" name="stashPrice"
                    [(ngModel)]="stashOrderItem.productVariation.price">
                </div>
              </div>

              <div class="form-group row">
                <label for="customer" class="col-sm-2 col-form-label">Vekt (g)</label>
                <div class="col-sm-10">
                  <input type="number" min="100" max="99999" required class="form-control" name="stashWeight"
                    [(ngModel)]="stashOrderItem.productVariation.weight">
                </div>
              </div>

              <div class="form-group row">
                <label for="customer" class="col-sm-2 col-form-label">Antall</label>
                <div class="col-sm-10">
                  <input type="number" min="1" max="999" required class="form-control" name="stashQuantity"
                    [(ngModel)]="stashOrderItem.quantity">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-12">
                  <button class="btn btn-primary float-right" [disabled]="!stashForm.valid">Legg til stash</button>
                </div>
              </div>

            </form>

          </div>

        </div>

        <hr />

        <div class="row">
          <div class="col-12">
            <app-order-details [order]="order"></app-order-details>
          </div>
        </div>

      </div>
      <!-- body -->

      <!-- footer -->
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">
          Avbryt
        </button>
        <button class="btn btn-primary" data-dismiss="modal" [disabled]="!order.customer || !order.items?.length"
          (click)="createOrder()">
          Lag bestilling
        </button>
      </div>
      <!-- footer -->

    </div>
    <!-- content -->

  </div>
  <!-- dialog -->

</div>
<!-- modal -->