<h2>Abonnementer</h2>
<div class="row">
  <div class="col-12 col-lg-6">
    <div class="row">
        <div class="col-12 col-sm-6">
            <a routerLink="/products/{{subscriptionProduct.id}}">
              <img src="../../../assets/{{getProductImageOrDefault(subscriptionProduct)}}" />
            </a>      
        </div>
        <div class="col-12 col-sm-6">
            <h4>{{subscriptionProduct.name}}</h4>
            <p>
                Få nybrent kaffe levert på døra med vårt kaffeabonnement.
            </p>
            <div class="price-label">{{subscriptionProduct.price}} kr per 250g påse</div>
            <button type="submit" class="btn btn-primary add_to_cart float-right" routerLink="/products/{{subscriptionProduct.id}}">Kjøp</button>
          </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
      <div class="row">
          <div class="col-12 col-sm-6">
              <a routerLink="/products/{{giftSubscriptionProduct.id}}">
                <img src="../../../assets/{{getProductImageOrDefault(giftSubscriptionProduct)}}" />
              </a>      
          </div>
          <div class="col-12 col-sm-6">
              <h4>{{giftSubscriptionProduct.name}}</h4>
              <p>
                  Få nybrent kaffe levert på døra med vårt kaffeabonnement.
              </p>
              <div class="price-label">{{giftSubscriptionProduct.price}} kr per 250g påse</div>
              <button type="submit" class="btn btn-primary add_to_cart float-right" routerLink="/products/{{giftSubscriptionProduct.id}}">Kjøp</button>
          </div>
      </div>
  </div>
</div>

<h3>Kaffe</h3>
<div class="row">
  <div class="col-6 col-lg-3" *ngFor="let product of coffeeProducts">
    <div class="product-item-box">
      <a routerLink="/products/{{product.id}}">
        <img src="../../../assets/{{getProductImageOrDefault(product)}}" />
      </a>
      <h4>{{product.name}}</h4>
      <div>250 g hele bønner.</div>
      <div class="price-label">{{product.price}} kr</div>
      <app-buy-product class="float-right" [product]="product"></app-buy-product>
    </div>
  </div>
</div>
