img { 
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
}

.subscription-table {
    td {
        width: 50%;
    }
}

.product-card {
    img {
        margin: 0 0 1em 0;
        width: 100%;
        height: auto;
        display: block;
        max-width: 100%;
    }
}
