<div *ngIf="!order"></div>

<div *ngIf="order">
  <h4>
    #{{order.id}} - {{order.customer?.name}}  - {{order.customer?.organizationNumber}} - {{order.customer?.email}} - {{order.customer?.phone}}
  </h4>
  <table class="table">
    <thead>
      <th>Produkt</th>
      <th></th>
      <th>Antall</th>
      <th>Pris</th>
      <th>MVA</th>
      <th>Pris totalt</th>
      <th></th>
    </thead>
    <tbody *ngIf="order">
      <tr *ngFor="let item of order.items">
        <td>
          <span *ngIf="item.product.category === 'coffee'">{{ item.product?.data?.name}} ({{item.product?.data?.code}})</span>
          <span *ngIf="item.product.category === 'stash'">{{ item.productVariation?.name }} </span>
        </td>
        <td>
          <span *ngIf="item.product.category === 'coffee'">{{ item.productVariation?.name }}</span>
          <span *ngIf="item.product.category === 'stash'"></span>
        </td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.productVariation?.price}}</td>
        <td>{{ getVatFromItem(item) }}% </td>
        <td>
          <app-amount-field [amount]="item.quantity * item.productVariation.price"></app-amount-field>
        <td> 
          <!-- <button mat-button (click)="removeItem(item)">X</button> -->
        </td>
      </tr>
      <tr>
        <td colspan="6">
          <hr />
        </td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td>15%</td>
        <td><strong>{{getTotalVatCoffee}}</strong></td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td>25%</td>
        <td><strong>{{getTotalVatStandard}}</strong></td>
      </tr>
      <tr>
        <td colspan="5"></td>
        <td><strong>{{getTotalPrice}} ekskl. mva</strong></td>
      </tr>
      <tr>
        <td colspan="5"></td>
        <td><strong>{{getTotalPrice + getTotalVatCoffee + getTotalVatStandard }} inkl. mva</strong></td>
      </tr>
      <!-- <tr>
        <td colspan="6">
          Bestillingsdato: {{order.orderDate}} Leveringsdato: {{order.deliveryDate}}
        </td>
      </tr> -->
      <tr>
        <td colspan="2">
            <h5>Leveringsadresse</h5>
            <app-address [address]="order.customer?.deliveryAddress"></app-address>
        </td>
        <td colspan="2">
            <h5>Fakturaadresse</h5>
            <app-address [address]="order.customer?.invoiceAddress"></app-address>
        </td>     
        <td colspan="2">
            <h5>Notat</h5>
            <ul>
              <li *ngFor="let orderNote of order.notes">{{orderNote.note}}</li> 
            </ul>
        </td>      
      </tr>
    </tbody>
  </table>
  </div>