<form [formGroup]="detailsForm">
  <div class="form-group">
    <label class="center-block">Fornavn:
      <input class="form-control" formControlName="givenName">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Etternavn:
      <input class="form-control" formControlName="familyName">
    </label>    
  </div>
  <div class="form-group">
    <label class="center-block">Firmanavn:
      <input class="form-control" formControlName="company">
    </label>
  </div>  
  <div class="form-group">
    <label class="center-block">Gateadresse:
      <input class="form-control" formControlName="street1"> <br />
      <input class="form-control" formControlName="street2">
    </label>
  </div>  
  <div class="form-group">
    <label class="center-block">Postnummer:
      <input class="form-control" formControlName="zipCode">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Sted:
      <input class="form-control" formControlName="place">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Mobiltelefon:
      <input class="form-control" formControlName="phone">
    </label>
  </div>  
  <div class="form-group">
    <label class="center-block">E-postadresse:
      <input class="form-control" formControlName="email">
    </label>
  </div>  
  <div class="form-group">
    <label class="center-block">Ordrenotater:
      <textarea class="form-control" formControlName="note"></textarea>
    </label>
  </div>  
</form>
