<div class="row justify-content-center" [hidden]="isSignedIn">
    <div class="col-12 col-md-6 col-lg-4">
        <app-sign-in (signedIn)="onSignedIn($event)"></app-sign-in>
    </div>
</div>

<div *ngIf="isSignedIn">
    <div class="row">
        <div class="col-12">
            <h4>Logget in som <i>{{user.email}}</i></h4>
        </div>
    </div>

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Kontodetaljer
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <app-my-details [user]="user"></app-my-details>

                    <hr />

                    <button class="btn btn-secondary float-right" (click)="signOut()" [disabled]="false">Logg ut</button>
                </div>
            </div>
        </div>
    </div>
</div>