<div class="row">
  <div class="col-12">
    <p>
      <button class="btn btn-secondary float-right" (click)="import()">Importer fra Woo</button>
    </p>
    <hr />
  </div>
</div>

<div class="row">

  <div class="col-12 col-md-4">
    <section>
      <mat-checkbox [(ngModel)]="showMonthly" (checked)=true>Månedlig</mat-checkbox>
      <mat-checkbox [(ngModel)]="showFortnightly" (checked)=true>Annenhver uke</mat-checkbox>
    </section>
  </div>

  <div class="col-12 col-md-4">
    <select class="form-control" id="quantityElement" name="quantityElement" [(ngModel)]="selectedQuantity">
      <option *ngFor="let quantity of quantities" [ngValue]="quantity">{{quantity.label}}</option>
    </select>
  </div>

  <div class="col-12">
    <P>
        Viser {{subscriptions.length}} gabos
    </P>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Order# (Woo)</th>
          <th>Antall mån</th>
          <th>Siste ordre</th>
          <th>Poser</th>
          <th>Type</th>
          <th>Mottaker</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let subscription of subscriptions">
          <tr (click)="subscription.rowExpanded=!subscription.rowExpanded" class="clickable">
            <td>{{subscription.wooOrderNumber}}</td>
            <td>{{subscription.numberOfMonths}}</td>
            <td>{{subscription.lastOrderCreated | date: 'short' }}</td>
            <td>{{subscription.quantity}}</td>
            <td>{{subscription.frequence == 1 ? 'Månedlig' : 'Annenhver uke'}}</td>
            <td>{{subscription.recipient_name}}</td>
          </tr>
          <tr *ngIf="subscription.rowExpanded">
            <td colspan="7">
              <app-gift-subscription-details [subscription]="subscription"></app-gift-subscription-details>
            </td>
          </tr>
          <tr *ngIf="subscription.rowExpanded">
            <td colspan="7">
              <button class="btn btn-primary" (click)="createOrder(subscription)">Lag oppdrag i Cargonizer</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>