<h2>Mine abonnement</h2>

<div *ngIf="subscriptions.length === 0">
  Du har ingen abonnement. <a routerLink="/products">Til butikken</a>
</div>

<div  *ngIf="subscriptions.length > 0">

  <mat-card class="subscription-card" *ngFor="let subscription of subscriptions">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Kaffeabbonement - {{getSubscriptionSummary(subscription)}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <div>Id: {{subscription.id}}</div>
        <div>Status: {{subscription.status}}</div>
        <div>Neste leveranse: {{subscription.firstDeliveryDate | date:'shortDate'}}</div>
        <div>Siste leveranse: {{subscription.lastDeliveryDate | date:'shortDate'}}</div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="pause(subscription)" [disabled]="isCancelled(subscription) || !isActive(subscription)" >Sett på pause</button>
      <button mat-button (click)="activate(subscription)" [disabled]="isCancelled(subscription) || !isPaused(subscription)">Aktivere</button>
      <button mat-button (click)="cancel(subscription)" [disabled]="isCancelled(subscription)">Kanseller</button>
    </mat-card-actions>
  </mat-card>

</div>
