<h1 mat-dialog-title>
  Edit gift subscription {{data.recipient_address.street2}}
</h1>

<mat-dialog-content>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Form">
      <form #giftSubscriptionForm="ngForm" style="margin-top: 1em">
        <div class="row">
          <!-- LEFT COL -->
          <div class="col-12 col-lg-6">
            <div class="form-group row">
              <label for="customer" class="col-4 col-form-label"
                >Recipient</label
              >
              <div class="col-8">
                <input
                  type="text"
                  required
                  class="form-control"
                  name="recipient_name"
                  [(ngModel)]="data.recipient_name"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="customer" class="col-4 col-form-label">Email</label>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  name="recipient_email"
                  [(ngModel)]="data.recipient_email"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="customer" class="col-4 col-form-label">Mobile</label>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  name="recipient_mobile"
                  [(ngModel)]="data.recipient_mobile"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="customer" class="col-4 col-form-label"
                >Street 1</label
              >
              <div class="col-8">
                <input
                  type="text"
                  required
                  class="form-control"
                  name="street1"
                  [(ngModel)]="data.recipient_address.street1"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="customer" class="col-4 col-form-label"
                >Street 2</label
              >
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  name="street2"
                  [(ngModel)]="data.recipient_address.street2"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="customer" class="col-4 col-form-label"
                >Zip code</label
              >
              <div class="col-8">
                <input
                  type="text"
                  required
                  class="form-control"
                  name="zipCode"
                  [(ngModel)]="data.recipient_address.zipCode"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="customer" class="col-4 col-form-label">Place</label>
              <div class="col-8">
                <input
                  type="text"
                  required
                  class="form-control"
                  name="place"
                  [(ngModel)]="data.recipient_address.place"
                />
              </div>
            </div>
          </div>

          <!-- RIGHT COL -->
          <div class="col-12 col-lg-6">
            <div class="form-group row">
              <label for="customer" class="col-4 col-form-label"
                >Start date</label
              >
              <div class="col-8">
                <input
                  type="date"
                  required
                  class="form-control"
                  name="firstDeliveryDate"
                  [ngModel]="data.firstDeliveryDate | date:'yyyy-MM-dd'"
                  (ngModelChange)="data.firstDeliveryDate = $event"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="customer" class="col-4 col-form-label"
                >End date</label
              >
              <div class="col-8">
                <input
                  type="date"
                  required
                  class="form-control"
                  name="lastDeliveryDate"
                  [ngModel]="data.lastDeliveryDate | date:'yyyy-MM-dd'"
                  (ngModelChange)="data.lastDeliveryDate = $event"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="customer" class="col-4 col-form-label">Type</label>
              <div class="col-8">
                <input
                  type="number"
                  required
                  class="form-control"
                  name="frequence"
                  [(ngModel)]="data.frequence"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="customer" class="col-4 col-form-label"
                >Quantity</label
              >
              <div class="col-8">
                <input
                  type="number"
                  required
                  class="form-control"
                  name="quantity"
                  [(ngModel)]="data.quantity"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="customer" class="col-4 col-form-label"
                >Duration</label
              >
              <div class="col-8">
                <input
                  type="number"
                  required
                  class="form-control"
                  name="numberOfMonths"
                  [(ngModel)]="data.numberOfMonths"
                />
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Data">
      <p>
        <ngx-json-viewer [json]="data" [expanded]="false"></ngx-json-viewer>
      </p>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button (click)="onCancel()">Cancel</button>
  <button
    mat-stroked-button
    color="primary"
    [mat-dialog-close]="data"
    cdkFocusInitial
    [disabled]="!giftSubscriptionForm.valid"
  >
    Save
  </button>
</mat-dialog-actions>
