<div class="row margin-top">
  <div class="col-12 col-md-4">
    <section>
      <mat-checkbox [(ngModel)]="showMonthly" (checked)="(true)"
        >Monthly</mat-checkbox
      >
      <mat-checkbox [(ngModel)]="showFortnightly" (checked)="(true)"
        >Twice a month</mat-checkbox
      >
    </section>
    <section>
      <mat-checkbox [(ngModel)]="showOnlyNew" (checked)="(false)"
        >Show only new (no orders sent)</mat-checkbox
      >
      <mat-checkbox [(ngModel)]="showOnlyStarted" (checked)="(true)"
        >Show only started</mat-checkbox
      >
    </section>
    <section>
      <mat-checkbox [(ngModel)]="showOnlyNotSentToday" (checked)="(false)"
        >Hide those with orders created today</mat-checkbox
      >
    </section>
  </div>

  <div class="col-12 col-md-4">
    <label>Quantity</label>
    <select
      class="form-control"
      id="quantityElement"
      name="quantityElement"
      [(ngModel)]="selectedQuantity"
    >
      <option *ngFor="let quantity of quantities" [ngValue]="quantity">
        {{ quantity.label }}
      </option>
    </select>
  </div>

  <div class="col-12" colmd-4>
    <small
      >Imported from Woo: {{ lastImported | date: 'short' }} ({{
        lastImportedCount
      }})</small
    >
  </div>
  <div class="col-12">
    <P> Showing {{ subscriptions.length }} gabo's </P>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Woo order #</th>
          <th>Duration (months)</th>
          <th>First order</th>
          <th>Last order</th>
          <th>Bags</th>
          <th>Type</th>
          <th>Recipient</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let subscription of subscriptions">
          <tr
            (click)="subscription.rowExpanded = !subscription.rowExpanded"
            class="clickable"
          >
            <td>{{ subscription.wooOrderNumber }}</td>
            <td>{{ subscription.numberOfMonths }}</td>
            <td>{{ subscription.firstDeliveryDate | date: 'shortDate' }}</td>
            <td>{{ subscription.lastOrderCreated | date: 'short' }}</td>
            <td>{{ subscription.quantity }}</td>
            <td>
              {{ subscription.frequence == 1 ? 'Monthly' : 'Twice a month' }}
            </td>
            <td>{{ subscription.recipient_name }}</td>
            <td>
              <button
                mat-raised-button
                (click)="createOrder(subscription)"
                title="Lag oppdrag i Cargonizer"
              >
                <i class="material-icons">local_shipping</i>
              </button>
            </td>
          </tr>
          <tr *ngIf="subscription.rowExpanded">
            <td colspan="7">
              <app-gift-subscription-details
                [subscription]="subscription"
              ></app-gift-subscription-details>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
