<div class="row margin-top">
  <div class="col-12 col-md-4">
    <!-- <section>
      <mat-checkbox [(ngModel)]="showMonthly" (checked)="(true)"
        >Monthly</mat-checkbox
      >
      <mat-checkbox [(ngModel)]="showFortnightly" (checked)="(true)"
        >Twice a month</mat-checkbox
      >
    </section> -->
    <section>
      <mat-checkbox [(ngModel)]="showOnlyNew" (checked)="(false)"
        >Show only new (no orders sent)</mat-checkbox
      >
      <mat-checkbox [(ngModel)]="showOnlyStarted" (checked)="(true)"
        >Show only started</mat-checkbox
      >
    </section>
    <section>
      <mat-checkbox [(ngModel)]="showOnlyNotSentToday" (checked)="(false)"
        >Hide those with last order created today</mat-checkbox
      >
    </section>
  </div>

  <div class="col-12 col-md-4">
    <label>Quantity</label>
    <select
      class="form-control"
      id="quantityElement"
      name="quantityElement"
      [(ngModel)]="selectedQuantity"
    >
      <option *ngFor="let quantity of quantities" [ngValue]="quantity">
        {{ quantity.label }}
      </option>
    </select>
  </div>

  <div class="col-12">
    <P> Showing {{ dataSource.data.length }} gabo's </P>

    <p>
      <button
        mat-stroked-button
        color="primary"
        (click)="openCreateOrdersDialog()"
        title="Create and send order"
        [disabled]="!canCreateOrders()"
      >
        <i class="material-icons">local_shipping</i>
        Create renewal orders for {{ selection.selected.length }} gabos
      </button>
    </p>

    <table mat-table [dataSource]="dataSource" class="">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="wooOrderNumber">
        <th mat-header-cell *matHeaderCellDef>Woo order #</th>
        <td mat-cell *matCellDef="let element">
          <a [href]="getWooUri(element)" target="_blank">{{
            element.wooOrderNumber
          }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
      </ng-container>

      <!-- <ng-container matColumnDef="frequency">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">
          {{ element.frequence == 1 ? 'Monthly' : 'Twice a month' }}
        </td>
      </ng-container> -->

      <ng-container matColumnDef="firstDelivery">
        <th mat-header-cell *matHeaderCellDef>Start date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.firstDeliveryDate | date: 'shortDate' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lastOrderCreated">
        <th mat-header-cell *matHeaderCellDef>Last order created</th>
        <td mat-cell *matCellDef="let element">
          {{ element.lastOrderCreated | date: 'short' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="recipient">
        <th mat-header-cell *matHeaderCellDef>Recipient</th>
        <td mat-cell *matCellDef="let element">{{ element.recipient_name }}</td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>Duration</th>
        <td mat-cell *matCellDef="let element">{{ element.numberOfMonths }}</td>
      </ng-container>

      <ng-container matColumnDef="toolBar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-stroked-button (click)="openEditDialog(element)">
            Edit
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="row.rowExpanded = !row.rowExpanded"
      ></tr>
    </table>
  </div>
</div>

<div class="row margin-top">
  <div class="col-12">
    <small
      >Last imported from Woo: {{ lastImported | date: 'short' }} ({{
        lastImportedCount
      }})</small
    >
  </div>
</div>
