<div
  class="row"
  *ngIf="
    !stats ||
    !coffees ||
    !orderStats ||
    !deliveryDays ||
    !subscriptionCoffeeTypeCounter
  "
>
  <div class="col-12">
    <h3>Loading MB Dashboard...</h3>
  </div>
</div>

<div
  class="row"
  *ngIf="
    stats &&
    coffees &&
    orderStats &&
    deliveryDays &&
    subscriptionCoffeeTypeCounter
  "
>
  <div class="col-12">
    <mat-card class="product-card">
      <mat-card-content>
        <h2>
          Neste abo-levering: {{ deliveryDays[0].date | date: "d. MMMM" }} -
          {{ resolveDeliveryTypeString(deliveryDays[0].type) }} -
          {{ deliveryDays[0].quantities.totalWeight }}kg
        </h2>

        <div *ngIf="!hasNextDeliveryDayCoffeesSet()">
          All coffees (1-4) must be set to enable quantity preview.
          <a [routerLink]="['/delivery-days']">Endre aktive kaffen her</a>
        </div>

        <div *ngIf="hasNextDeliveryDayCoffeesSet()">
          <small>
            Viser fordeling av abos og aktive backoffice-bestillinger. P.t er
            enkeltorders i Woo IKKE inkludert og det er kun abo-levering som
            vises.
          </small>
        </div>
        <table *ngIf="hasNextDeliveryDayCoffeesSet()" class="table">
          <thead>
            <tr>
              <th>Kaffe</th>
              <th>Totalt (kg)</th>
              <th>250g</th>
              <th>500g</th>
              <th>1200g</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let day of deliveryDays.slice(0, 1)">
              <tr>
                <td>ANY</td>
                <td>{{ resolveCoffeeANY(day).total }}</td>
                <td>{{ resolveCoffeeANY(day).count250 }}</td>
                <td>{{ resolveCoffeeANY(day).count500 }}</td>
                <td>{{ resolveCoffeeANY(day).count1200 }}</td>
              </tr>
              <tr>
                <td>Kaffe 1 - {{ resolveCoffeeCodeFromId(day.coffee1) }}</td>
                <td>{{ resolveCoffee(day, "coffee1").total }}</td>
                <td>{{ resolveCoffee(day, "coffee1").count250 }}</td>
                <td>{{ resolveCoffee(day, "coffee1").count500 }}</td>
                <td>{{ resolveCoffee(day, "coffee1").count1200 }}</td>
              </tr>
              <tr>
                <td>Kaffe 2 - {{ resolveCoffeeCodeFromId(day.coffee2) }}</td>
                <td>{{ resolveCoffee(day, "coffee2").total }}</td>
                <td>{{ resolveCoffee(day, "coffee2").count250 }}</td>
                <td>{{ resolveCoffee(day, "coffee2").count500 }}</td>
                <td>{{ resolveCoffee(day, "coffee2").count1200 }}</td>
              </tr>
              <tr>
                <td>Kaffe 3 - {{ resolveCoffeeCodeFromId(day.coffee3) }}</td>
                <td>{{ resolveCoffee(day, "coffee3").total }}</td>
                <td>{{ resolveCoffee(day, "coffee3").count250 }}</td>
                <td>{{ resolveCoffee(day, "coffee3").count500 }}</td>
                <td>{{ resolveCoffee(day, "coffee3").count1200 }}</td>
              </tr>
              <tr>
                <td>Kaffe 4 - {{ resolveCoffeeCodeFromId(day.coffee4) }}</td>
                <td>{{ resolveCoffee(day, "coffee4").total }}</td>
                <td>{{ resolveCoffee(day, "coffee4").count250 }}</td>
                <td>{{ resolveCoffee(day, "coffee4").count500 }}</td>
                <td>{{ resolveCoffee(day, "coffee4").count1200 }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <a [routerLink]="['/delivery-days']">Endre kaffen her</a>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>#aboabo</mat-card-title>
      </mat-card-header>
      <h1>
        {{ stats.subscriptionActiveCount + stats.giftSubscriptionCount }} aktive
        abos
      </h1>

      <p>
        {{
          stats.subscriptionFortnightlyCount +
            stats.giftSubscriptionFortnightlyCount
        }}
        annenhver uke,
        {{
          stats.subscriptionMonthlyCount + stats.giftSubscriptionMonthlyCount
        }}
        månedlig
        <br />
        {{ stats.giftSubscriptionCount }} gabos
      </p>

      <mat-card-content>
        <!-- <p>
          Antall poser 1. tirsdag:
          <strong>
            {{
              stats.subsciptionsBagsPerMonthlyCount +
                stats.subsciptionsBagsPerFortnightlyCount
            }}
          </strong>
          <br />

          Antall poser 3. tirsdag:
          <strong> {{ stats.subsciptionsBagsPerFortnightlyCount }} </strong>
        </p> -->

        <!-- <p>
          Antall poser totalt per måned:
          <strong>{{ stats.subsciptionsBagsPerMonthCount }}</strong> <br />

          Gyldne abosnittet:
          <strong>{{
            stats.subsciptionsBagsPerMonthCount /
              (stats.subscriptionActiveCount + stats.giftSubscriptionCount)
              | number: "1.1-1"
          }}</strong>
          <br />

          Abos på pause: {{ stats.subscriptionOnHoldCount }} <br />

          Gabos: {{ stats.giftSubscriptionCount }}
        </p> -->

        <table class="table">
          <thead>
            <tr>
              <th colspan="7" class="full-col">
                Antall poser per type
              </th>
            </tr>
            <tr>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
              <th>5</th>
              <th>6</th>
              <th>7</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="7" class="full-col">
                Annenhver uke ({{ stats.subsciptionsBagsPerFortnightlyCount }}
                poser)
              </td>
            </tr>
            <tr>
              <td>{{ stats.bagCounter.fortnightly.one }}</td>
              <td>{{ stats.bagCounter.fortnightly.two }}</td>
              <td>{{ stats.bagCounter.fortnightly.three }}</td>
              <td>{{ stats.bagCounter.fortnightly.four }}</td>
              <td>{{ stats.bagCounter.fortnightly.five }}</td>
              <td>{{ stats.bagCounter.fortnightly.six }}</td>
              <td>{{ stats.bagCounter.fortnightly.seven }}</td>
            </tr>
            <tr>
              <td colspan="7" class="full-col">
                Månedlig ({{ stats.subsciptionsBagsPerMonthlyCount }} poser)
              </td>
            </tr>
            <tr>
              <td>{{ stats.bagCounter.monthly.one }}</td>
              <td>{{ stats.bagCounter.monthly.two }}</td>
              <td>{{ stats.bagCounter.monthly.three }}</td>
              <td>{{ stats.bagCounter.monthly.four }}</td>
              <td>{{ stats.bagCounter.monthly.five }}</td>
              <td>{{ stats.bagCounter.monthly.six }}</td>
              <td>{{ stats.bagCounter.monthly.seven }}</td>
            </tr>
          </tbody>
        </table>
        <h4>Fordeling av kaffe</h4>
        <div>
          <small>
            Viser antall poser (250g) / kg.
          </small>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Totalt</th>
              <th>Kaffe 1</th>
              <th>Kaffe 2</th>
              <th>Kaffe 3</th>
              <th>Kaffe 4</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Stor-abo</td>
              <td>{{ resolveCoffeTypeCountString("bigAbo", "total") }}</td>
              <td>{{ resolveCoffeTypeCountString("bigAbo", "coffee1") }}</td>
              <td>{{ resolveCoffeTypeCountString("bigAbo", "coffee2") }}</td>
              <td>{{ resolveCoffeTypeCountString("bigAbo", "coffee3") }}</td>
              <td>{{ resolveCoffeTypeCountString("bigAbo", "coffee4") }}</td>
            </tr>
            <tr>
              <td>Lill-abo</td>
              <td>{{ resolveCoffeTypeCountString("smallAbo", "total") }}</td>
              <td>{{ resolveCoffeTypeCountString("smallAbo", "coffee1") }}</td>
              <td>{{ resolveCoffeTypeCountString("smallAbo", "coffee2") }}</td>
              <td>{{ resolveCoffeTypeCountString("smallAbo", "coffee3") }}</td>
              <td>{{ resolveCoffeTypeCountString("smallAbo", "coffee4") }}</td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 col-lg-6">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>#aktive kaffen (i butikk)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngFor="let coffee of activeCoffees()">
          <div>
            {{ coffee.code }} - {{ coffee.name }} - {{ coffee.country }}
          </div>
        </ng-container>
        <div><a [routerLink]="['/coffees']">Endre aktive kaffen</a></div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 col-lg-6">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>#kommende abos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table class="table">
          <thead>
            <tr>
              <th>Dato</th>
              <th>Type</th>
              <th>Kg (estimert)</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let day of deliveryDays.slice(1)">
              <tr class="future_delivery">
                <td>{{ day.date | date: "d. MMMM" }}</td>
                <td>{{ resolveDeliveryTypeString(day.type) }}</td>
                <td>{{ day.quantities.totalWeight }}kg</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 col-lg-6">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>#privat (woo)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Processing: <strong>{{ stats.orderProcessingCount }}</strong> <br />
          On hold: <strong>{{ stats.orderOnHoldCount }}</strong> <br />
          Pending payment:
          <strong>{{ stats.orderPendingPaymentCount }}</strong> <br />
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12  col-lg-6">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>#bedrift (backoffice)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Processing: <strong>{{ orderStats.activeOrderCount }}</strong> <br />
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12">
    <p>Data from Woo last updated {{ statsLastUpdated | date: "short" }}</p>
    <p>
      <button mat-raised-button (click)="updateStats()" [disabled]="isUpdating">
        Update now
      </button>
    </p>
  </div>
</div>
