mat-card {
  margin: 0.5em 0 !important;
}

.full-col {
  padding-left: 0;
  padding-bottom: 0;
}

tr.future_delivery {
  td {
    font-style: italic;
  }
}

.warning-box {
  margin: 1em;
  padding: 1em;
  border: 2px red solid;
}
