<div
  class="row"
  *ngIf="
    !statsData ||
    !coffees ||
    !orderStats ||
    !deliveryDays ||
    !subscriptionCoffeeTypeCounter
  "
>
  <div class="col-12">
    <h3>Loading MB Dashboard...</h3>
  </div>
</div>

<div
  class="row"
  *ngIf="
    statsData &&
    coffees &&
    orderStats &&
    deliveryDays &&
    subscriptionCoffeeTypeCounter
  "
>
  <div class="col-12">
    <mat-card class="product-card">
      <mat-card-content>
        <h2>
          Neste levering: {{ deliveryDays[0].date | date: "d. MMMM" }} -
          {{ resolveDeliveryTypeString(deliveryDays[0].type) }} -
          {{ getTotalKgs() }}kg
        </h2>

        <div
          *ngIf="
            !hasNextDeliveryDayCoffeesSet() && deliveryDays[0].type != 'normal'
          "
        >
          All coffees (1-4) must be set to enable quantity preview.
          <a [routerLink]="['/delivery-days']">Endre aktive kaffen her</a>
        </div>

        <div *ngIf="deliveryDays[0].type == 'normal'">
          Non abo-delivery days not currently supported in overview.
        </div>

        <div *ngIf="deliveryDays[0].type != 'normal'">
          <div *ngIf="hasNextDeliveryDayCoffeesSet()">
            <small>
              Viser oversikt av abos og aktive backoffice-bestillinger. P.t er
              enkeltordre i Woo IKKE inkludert.
            </small>
          </div>
          <table *ngIf="hasNextDeliveryDayCoffeesSet()" class="table">
            <thead>
              <tr>
                <th>Kaffe</th>
                <th>Totalt (kg)</th>
                <th>250g</th>
                <th>500g</th>
                <th>1200g</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let day of deliveryDays.slice(0, 1)">
                <tr>
                  <td>ANY</td>
                  <td>{{ resolveCoffeeANY(day).total }}</td>
                  <td>{{ resolveCoffeeANY(day).count250 }}</td>
                  <td>{{ resolveCoffeeANY(day).count500 }}</td>
                  <td>{{ resolveCoffeeANY(day).count1200 }}</td>
                </tr>
                <tr>
                  <td>Kaffe 1 - {{ resolveCoffeeCodeFromId(day.coffee1) }}</td>
                  <td>{{ resolveCoffee(day, "coffee1").total }}</td>
                  <td>{{ resolveCoffee(day, "coffee1").count250 }}</td>
                  <td>{{ resolveCoffee(day, "coffee1").count500 }}</td>
                  <td>{{ resolveCoffee(day, "coffee1").count1200 }}</td>
                </tr>
                <tr>
                  <td>Kaffe 2 - {{ resolveCoffeeCodeFromId(day.coffee2) }}</td>
                  <td>{{ resolveCoffee(day, "coffee2").total }}</td>
                  <td>{{ resolveCoffee(day, "coffee2").count250 }}</td>
                  <td>{{ resolveCoffee(day, "coffee2").count500 }}</td>
                  <td>{{ resolveCoffee(day, "coffee2").count1200 }}</td>
                </tr>
                <tr>
                  <td>Kaffe 3 - {{ resolveCoffeeCodeFromId(day.coffee3) }}</td>
                  <td>{{ resolveCoffee(day, "coffee3").total }}</td>
                  <td>{{ resolveCoffee(day, "coffee3").count250 }}</td>
                  <td>{{ resolveCoffee(day, "coffee3").count500 }}</td>
                  <td>{{ resolveCoffee(day, "coffee3").count1200 }}</td>
                </tr>
                <tr>
                  <td>Kaffe 4 - {{ resolveCoffeeCodeFromId(day.coffee4) }}</td>
                  <td>{{ resolveCoffee(day, "coffee4").total }}</td>
                  <td>{{ resolveCoffee(day, "coffee4").count250 }}</td>
                  <td>{{ resolveCoffee(day, "coffee4").count500 }}</td>
                  <td>{{ resolveCoffee(day, "coffee4").count1200 }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>

          <a [routerLink]="['/delivery-days']">Endre kaffen her</a>
        </div>
        <p>
          Kaffen fra aktive enkeltordre (ikke inkludert i oversikten over):
          {{ resolveCoffeesInActiveOrdersString() }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>#aboabo</mat-card-title>
      </mat-card-header>
      <h1>
        {{
          statsData.aboData.monthlyCount + statsData.aboData.fortnightlyCount
        }}
        aktive abos
      </h1>

      <p>
        {{ statsData.aboData.fortnightlyCount }}
        annenhver uke,
        {{ statsData.aboData.monthlyCount }}
        månedlig
        <br />
        {{ statsData.aboData.gaboCount }} gabos
      </p>

      <mat-card-content>
        <table class="table">
          <thead>
            <tr>
              <th colspan="7" class="full-col">
                Antall poser per type
              </th>
            </tr>
            <tr>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
              <th>5</th>
              <th>6</th>
              <th>7</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="7" class="full-col">
                Annenhver uke ({{ statsData.aboData.bagsFortnightlyCount }}
                poser)
              </td>
            </tr>
            <tr>
              <td>{{ statsData.aboData.bagCounter.fortnightly.one }}</td>
              <td>{{ statsData.aboData.bagCounter.fortnightly.two }}</td>
              <td>{{ statsData.aboData.bagCounter.fortnightly.three }}</td>
              <td>{{ statsData.aboData.bagCounter.fortnightly.four }}</td>
              <td>{{ statsData.aboData.bagCounter.fortnightly.five }}</td>
              <td>{{ statsData.aboData.bagCounter.fortnightly.six }}</td>
              <td>{{ statsData.aboData.bagCounter.fortnightly.seven }}</td>
            </tr>
            <tr>
              <td colspan="7" class="full-col">
                Månedlig ({{
                  statsData.aboData.subsciptionsBagsPerMonthlyCount
                }}
                poser)
              </td>
            </tr>
            <tr>
              <td>{{ statsData.aboData.bagCounter.monthly.one }}</td>
              <td>{{ statsData.aboData.bagCounter.monthly.two }}</td>
              <td>{{ statsData.aboData.bagCounter.monthly.three }}</td>
              <td>{{ statsData.aboData.bagCounter.monthly.four }}</td>
              <td>{{ statsData.aboData.bagCounter.monthly.five }}</td>
              <td>{{ statsData.aboData.bagCounter.monthly.six }}</td>
              <td>{{ statsData.aboData.bagCounter.monthly.seven }}</td>
            </tr>
          </tbody>
        </table>
        <h4>Fordeling av kaffe</h4>
        <div>
          <small>
            Viser antall poser (250g) / kg.
          </small>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Totalt</th>
              <th>Kaffe 1</th>
              <th>Kaffe 2</th>
              <th>Kaffe 3</th>
              <th>Kaffe 4</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Stor-abo</td>
              <td>{{ resolveCoffeTypeCountString("bigAbo", "total") }}</td>
              <td>{{ resolveCoffeTypeCountString("bigAbo", "coffee1") }}</td>
              <td>{{ resolveCoffeTypeCountString("bigAbo", "coffee2") }}</td>
              <td>{{ resolveCoffeTypeCountString("bigAbo", "coffee3") }}</td>
              <td>{{ resolveCoffeTypeCountString("bigAbo", "coffee4") }}</td>
            </tr>
            <tr>
              <td>Lill-abo</td>
              <td>{{ resolveCoffeTypeCountString("smallAbo", "total") }}</td>
              <td>{{ resolveCoffeTypeCountString("smallAbo", "coffee1") }}</td>
              <td>{{ resolveCoffeTypeCountString("smallAbo", "coffee2") }}</td>
              <td>{{ resolveCoffeTypeCountString("smallAbo", "coffee3") }}</td>
              <td>{{ resolveCoffeTypeCountString("smallAbo", "coffee4") }}</td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 col-lg-6">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>#aktive kaffen (i butikk)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngFor="let coffee of activeCoffees()">
          <div>
            {{ coffee.code }} - {{ coffee.name }} - {{ coffee.country }}
          </div>
        </ng-container>
        <div><a [routerLink]="['/coffees']">Endre aktive kaffen</a></div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 col-lg-6">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>#kommende leveringer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table class="table">
          <thead>
            <tr>
              <th>Dato</th>
              <th>Type</th>
              <th>Kg (estimert)</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let day of deliveryDays.slice(1)">
              <tr class="future_delivery">
                <td>{{ day.date | date: "d. MMMM" }}</td>
                <td>{{ resolveDeliveryTypeString(day.type) }}</td>
                <td>{{ day.quantities.totalWeight }}kg</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 col-lg-4">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>#cargonizer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Name: <strong>{{ getCargonizerProfile().name }}</strong> <br />
          Limit: <strong>{{ getCargonizerProfile().item_limit }}</strong>
          <br />
          Counter: <strong>{{ getCargonizerProfile().item_counter }}</strong>
          <br />
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 col-lg-4">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>#privat (woo)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Processing/On-hold:
          <strong>{{ statsData.wooOrderData.activeOrderCount }}</strong> <br />
          Pending payment:
          <strong>{{ statsData.wooOrderData.pendingOrderCount }}</strong> <br />
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 col-lg-4">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>#bedrift (backoffice)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Processing: <strong>{{ orderStats.activeOrderCount }}</strong> <br />
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-6">
    <p>
      Data from Woo last updated
      {{ statsData.dataFromWooLastUpdated | date: "short" }}
    </p>
    <div>
      <button mat-raised-button (click)="updateStats()" [disabled]="isUpdating">
        Update now
      </button>
      <p>
        <a
          href="https://mb-backoffice.herokuapp.com/api/woo/data"
          target="_blank"
          ><small>Woo data</small></a
        >
        <br />
        <a
          href="https://mb-backoffice.herokuapp.com/api/stats/data"
          target="_blank"
          ><small>Stats data</small></a
        >
      </p>
    </div>
  </div>
  <div class="col-6">
    <p>
      Data from Backoffice last updated {{ dataLastLoaded | date: "short" }}
    </p>
  </div>
</div>
