<div class="row" *ngIf="!stats || !orderStats || !deliveryDays">
  <div class="col-12">
    <h3>Loading MB Dashboard...</h3>
  </div>
</div>

<div class="row" *ngIf="stats && orderStats && deliveryDays">
  <div class="col-12 col-lg-6">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>#aboabo</mat-card-title>
      </mat-card-header>
      <h1>
        {{ stats.subscriptionActiveCount + stats.giftSubscriptionCount }} aktive
        abos
      </h1>

      <p>
        {{
          stats.subscriptionFortnightlyCount +
            stats.giftSubscriptionFortnightlyCount
        }}
        annenhver uke,
        {{
          stats.subscriptionMonthlyCount + stats.giftSubscriptionMonthlyCount
        }}
        månedlig
      </p>

      <mat-card-content>
        <p>
          Antall poser 1. tirsdag:
          <strong>
            {{
              stats.subsciptionsBagsPerMonthlyCount +
                stats.subsciptionsBagsPerFortnightlyCount
            }}
          </strong>
          <br />

          Antall poser 3. tirsdag:
          <strong> {{ stats.subsciptionsBagsPerFortnightlyCount }} </strong>
        </p>

        <p>
          Antall poser totalt per måned:
          <strong>{{ stats.subsciptionsBagsPerMonthCount }}</strong> <br />

          Gyldne abosnittet:
          <strong>{{
            stats.subsciptionsBagsPerMonthCount /
              (stats.subscriptionActiveCount + stats.giftSubscriptionCount)
              | number: "1.1-1"
          }}</strong>
          <br />

          Abos på pause: {{ stats.subscriptionOnHoldCount }} <br />

          Gabos: {{ stats.giftSubscriptionCount }}
        </p>

        <table class="table">
          <thead>
            <tr>
              <th colspan="7" class="full-col">
                Antall poser per utsendelse
              </th>
            </tr>
            <tr>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
              <th>5</th>
              <th>6</th>
              <th>7</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="7" class="full-col">
                Annenhver uke ({{ stats.subsciptionsBagsPerFortnightlyCount }}
                poser)
              </td>
            </tr>
            <tr>
              <td>{{ stats.bagCounter.fortnightly.one }}</td>
              <td>{{ stats.bagCounter.fortnightly.two }}</td>
              <td>{{ stats.bagCounter.fortnightly.three }}</td>
              <td>{{ stats.bagCounter.fortnightly.four }}</td>
              <td>{{ stats.bagCounter.fortnightly.five }}</td>
              <td>{{ stats.bagCounter.fortnightly.six }}</td>
              <td>{{ stats.bagCounter.fortnightly.seven }}</td>
            </tr>
            <tr>
              <td colspan="7" class="full-col">
                Månedlig ({{ stats.subsciptionsBagsPerMonthlyCount }} poser)
              </td>
            </tr>
            <tr>
              <td>{{ stats.bagCounter.monthly.one }}</td>
              <td>{{ stats.bagCounter.monthly.two }}</td>
              <td>{{ stats.bagCounter.monthly.three }}</td>
              <td>{{ stats.bagCounter.monthly.four }}</td>
              <td>{{ stats.bagCounter.monthly.five }}</td>
              <td>{{ stats.bagCounter.monthly.six }}</td>
              <td>{{ stats.bagCounter.monthly.seven }}</td>
            </tr>
            <tr>
              <td colspan="7" class="full-col">
                Totalt ({{
                  stats.subsciptionsBagsPerFortnightlyCount +
                    stats.subsciptionsBagsPerMonthlyCount
                }}
                poser)
              </td>
            </tr>
            <tr>
              <td>
                {{
                  stats.bagCounter.fortnightly.one +
                    stats.bagCounter.monthly.one
                }}
              </td>
              <td>
                {{
                  stats.bagCounter.fortnightly.two +
                    stats.bagCounter.monthly.two
                }}
              </td>
              <td>
                {{
                  stats.bagCounter.fortnightly.three +
                    stats.bagCounter.monthly.three
                }}
              </td>
              <td>
                {{
                  stats.bagCounter.fortnightly.four +
                    stats.bagCounter.monthly.four
                }}
              </td>
              <td>
                {{
                  stats.bagCounter.fortnightly.five +
                    stats.bagCounter.monthly.five
                }}
              </td>
              <td>
                {{
                  stats.bagCounter.fortnightly.six +
                    stats.bagCounter.monthly.six
                }}
              </td>
              <td>
                {{
                  stats.bagCounter.fortnightly.seven +
                    stats.bagCounter.monthly.seven
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 col-lg-6">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>#privatorders (woo nettbutikk)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Processing: <strong>{{ stats.orderProcessingCount }}</strong> <br />
          On hold: <strong>{{ stats.orderOnHoldCount }}</strong> <br />
          Pending payment:
          <strong>{{ stats.orderPendingPaymentCount }}</strong> <br />
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>#bedriftsorders (backoffice)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Processing: <strong>{{ orderStats.activeOrderCount }}</strong> <br />
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>#pakkekos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table class="table">
          <thead>
            <tr>
              <th>Dato</th>
              <th>Type</th>
              <!-- <th></th> -->
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let day of deliveryDays">
              <tr>
                <td>{{ day.date | date: "EEE d. MMM" }}</td>
                <td>{{ resolveDeliveryTypeString(day.type) }}</td>
                <!-- <td>{{ resolveDeliveryQuantities(day) }}</td> -->
              </tr>
            </ng-container>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12">
    <p>Data from Woo last updated {{ statsLastUpdated | date: "short" }}</p>
    <p>
      <button mat-raised-button (click)="updateStats()" [disabled]="isUpdating">
        Update now
      </button>
    </p>
  </div>
</div>
