<div class="row">
    <div class="col-12 col-lg-6">
        <form [formGroup]="detailsForm">    
            <div class="form-group">
              <label class="center-block">Navn
                <input type="text" required class="form-control" formControlName="name">
              </label>
            </div>
            <div class="form-group">
              <label class="center-block">Organisasjonsnummer
                <input type="text" required class="form-control" formControlName="organizationNumber">
              </label>
            </div>          
            <div class="form-group">
              <label class="center-block">E-postadresse
                <input class="form-control" required formControlName="email">
              </label>
            </div>   
            <div class="form-group">
                <label class="center-block">Telefon
                  <input class="form-control" formControlName="mobile">
                </label>
            </div>
            <div class="form-group">
              <label class="center-block">Kontaktperson
                <input type="text" required class="form-control" formControlName="contactPerson">
              </label>
            </div>                                
            <div class="form-group">
              <button class="btn btn-primary float-right" (click)="saveDetails()" [disabled]="!detailsForm.valid">Lagre endringer</button>
            </div>
          </form>
    </div>

    <div class="col-12 col-lg-6">
        <form [formGroup]="changePasswordForm">    
            <div class="form-group">
                <label class="center-block">Nåværende passord
                  <input type="password" class="form-control" formControlName="currentPassword">
                </label>
              </div>        
            <div class="form-group">
              <label class="center-block">Nytt passord
                <input type="password" class="form-control" formControlName="newPassword">
              </label>
            </div>
            <div class="form-group">
              <label class="center-block">Gjenta nytt passord
                <input type="password" class="form-control" formControlName="confirmNewPassword">
              </label>
            </div>     
            <div class="form-group">
              <button class="btn btn-primary float-right" (click)="changePassword()" [disabled]="!changePasswordForm.valid">Endre passord</button>
            </div>
          </form>
    </div>
</div>
