<h2>Orders</h2>

<table class="table table-striped">
  <thead>
      <tr>
          <th scope="col">Order #</th>
          <th scope="col">Status</th>
          <th scope="col">Order date</th>
          <th scope="col">Customer</th>
          <th scope="col">Items</th>
          <th scope="col">Actions</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let order of orders">
          <td>{{order.id}}</td>
          <td>{{order.status}}</td>
          <td>{{order.createdAt | date:'short'}}</td>
          <td>{{order.customer.email}}</td>
          <td>
              <div *ngFor="let item of order.items">
                {{item.quantity}} {{item.product.code}}
              </div>
          </td>
          <td>
              <button (click)="complete(order.id, true)">S</button>
              <button (click)="complete(order.id, false)">C</button>
          </td>
      </tr>
  </tbody>

</table>
