<h2>Butikk</h2>
<h3>Her kan du bestille kaffe og få den levert på døra.</h3>

<div class="row">
  <div class="col-6 col-md-3 col-xl-2" *ngFor="let product of products">
    <div class="product-item-box">
      <a routerLink="/products/{{product.id}}">
        <img src="../../../assets/{{getProductImageOrDefault(product)}}" />
      </a>
      <div>{{product.name}}</div>
      <div class="price-label">{{product.price}} kr</div>
      <app-buy-product [product]="product"></app-buy-product>
    </div>
  </div>
</div>
