<form [formGroup]="detailsForm">
  <div class="form-group">
    <label class="center-block">Fornavn:
      <input class="form-control" required formControlName="givenName">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Etternavn:
      <input class="form-control" required formControlName="familyName">
    </label>    
  </div>
  <div class="form-group">
    <label class="center-block">Firmanavn:
      <input class="form-control" formControlName="company">
    </label>
  </div>  
  <div class="form-group">
    <label class="center-block">Gateadresse:
      <input class="form-control" required formControlName="street1"> <br />
      <input class="form-control" formControlName="street2">
    </label>
  </div>  
  <div class="form-group">
    <label class="center-block">Postnummer:
      <input class="form-control" required formControlName="zipCode">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Sted:
      <input class="form-control" required formControlName="place">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Mobiltelefon:
      <input class="form-control" formControlName="phone">
    </label>
  </div>  
  <div class="form-group">
    <label class="center-block">E-postadresse:
      <input class="form-control" required formControlName="email">
    </label>
  </div>  
  <div class="form-group">
    <label class="center-block">Ordrenotater:
      <textarea class="form-control" formControlName="note"></textarea>
    </label>
  </div> 
  <!-- <div class="form-check">
    <input type="checkbox" class="form-check-input" id="createAccountCheckbox" formControlName="createAccount">
    <label class="form-check-label" for="createAccountCheckbox">Opprett en konto</label>
  </div> -->
  
  <div *ngIf="!isSignedIn()">
    <div class="form-group">
      <label class="center-block">Passord
        <input class="form-control" type="password" formControlName="password">
      </label>
    </div> 
    <div class="form-group">
      <label class="center-block">Gjenta passord
        <input class="form-control" type="password" formControlName="confirmPassword">
      </label>
    </div>  
  </div>
</form>
