<div *ngIf="!order"></div>

<div *ngIf="order">
  <h4 *ngIf="order.customer">
    #{{ order.id }} - Kundenr: {{ order.customer?.customerNumber }} -
    {{ order.customer?.name }} - {{ order.customer?.email }}
  </h4>
  <h4 *ngIf="!order.customer">
    Ingen kunde valgt
  </h4>
  <table class="table table-order-details">
    <thead>
      <th>Produkt</th>
      <th>Antall</th>
      <th>Pris</th>
      <th>MVA</th>
      <th>Pris totalt</th>
      <th></th>
    </thead>
    <tbody *ngIf="!order || !order.coffeeItems || !order.coffeeItems.length">
      <tr>
        <td colspan="7">Ingen produkter lagt til</td>
      </tr>
    </tbody>
    <tbody *ngIf="order && order.coffeeItems && order.coffeeItems.length > 0">
      <tr *ngFor="let item of order.coffeeItems">
        <td>
          <span>{{ getProductNameString(item) }}</span>
        </td>
        <td>{{ item.quantity }}</td>
        <td>
          <app-amount-field [amount]="item.price"></app-amount-field>
        </td>
        <td>{{ getVatFromItem(item) }}%</td>
        <td>
          <app-amount-field
            [amount]="item.quantity * item.price"
          ></app-amount-field>
        </td>

        <td>
          <button mat-button (click)="removeItem(item)" title="Fjern linje">
            <i class="material-icons">remove_circle_outline</i>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="7"></td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td>15%</td>
        <td>
          <strong>
            <app-amount-field [amount]="getTotalVatCoffee"></app-amount-field>
          </strong>
        </td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td>25%</td>
        <td>
          <strong>
            <app-amount-field [amount]="getTotalVatStandard"></app-amount-field>
          </strong>
        </td>
      </tr>
      <tr>
        <td colspan="5"></td>
        <td>
          <strong>
            <app-amount-field [amount]="getTotalPrice"></app-amount-field> Eks
            MVA
          </strong>
        </td>
      </tr>
      <tr>
        <td colspan="5"></td>
        <td>
          <strong>
            <app-amount-field
              [amount]="getTotalPrice + getTotalVatCoffee + getTotalVatStandard"
            ></app-amount-field>
            Inkl MVA
          </strong>
        </td>
      </tr>
      <!-- <tr>
        <td colspan="6">
          Bestillingsdato: {{order.orderDate}} Leveringsdato: {{order.deliveryDate}}
        </td>
      </tr> -->
      <tr>
        <td colspan="2">
          <h5>Adresse</h5>
          <app-address [address]="order.customer?.address"></app-address>
        </td>
        <td colspan="4">
          <h5>Notat (internt)</h5>
          <div>{{ order.notes }}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
