<h2>Fra {{product.price}} kr + frakt / måned</h2>
<p>
    Få nybrent kaffe levert på døra med vårt kaffeabonnement.
    Vi velger den beste kaffen ut i fra variasjon, utvalg og brenninger.
    Så kan du selvfølgelig komme med egne ønsker og endre abonnementet underveis.
</p>
<p>
    Nybrent kaffe sender vi ut av brenneriet første og, om du velger levering annenhver uke, tredje tirsdag i måneden.
    Betalingen trekker vi 4 dager før utsendelse. Det er selvsagt ingen bindingstid, og abonnementet kan sies opp, endres eller pauses enkelt fra «Min konto». 
</p>
<p>
    Frakt 30 kr uansett antall poser.
</p>

<form>
    <div class="form-row">
        <div class="form-group col-lg-6">
            <label for="inputQuantity">Antall påser</label>
            <mat-select placeholder="Antall påser" [(ngModel)]="selectedQuantity" name="inputQuantity">
                <mat-option *ngFor="let quantity of quantities" [value]="quantity">
                    {{quantity}}
                </mat-option>
            </mat-select>
        </div>            
    </div>
    <div class="form-row">
        <div class="form-group col-lg-6">
            <label for="inputFrequence">Levering</label>
            <mat-select placeholder="Levering" [(ngModel)]="selectedFrequence" name="inputFrequence">
                <mat-option [value]=2>Annenhver uke</mat-option>
                <mat-option [value]=1>Månedlig</mat-option>
            </mat-select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-6">
            <label for="inputFirstDelivery">Første levering</label>
            <mat-select placeholder="Første levering" [(ngModel)]="selectedFirstDeliveryDate" name="inputFirstDelivery">
                <mat-option *ngFor="let date of nextDeliveryDates" [value]="date">
                    {{date | date: 'EEEE d. MMM'}}
                </mat-option>
            </mat-select>
        </div>
    </div>    
    <div class="form-row">
        <div class="form-group col-lg-6">
            <mat-checkbox>Send kaffe på direkte!</mat-checkbox>
        </div>
    </div>              
</form>

<div>
    <a routerLink="/products">Tilbake</a>
    <button type="submit" class="btn btn-primary add_to_cart float-right" (click)="buyProduct()">Kjøp</button>
</div>

