<p></p>

<div class="row">
  <div class="col-12">
    <button mat-raised-button (click)="openEditCustomerDialog()">Legg til kunde</button>
  </div>
</div>

<p></p>

<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Navn </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Epost </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="organizationNumber">
      <mat-header-cell *matHeaderCellDef> Org no </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.organizationNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Telefon </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column -->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let detail">
        Here comes the details about {{detail.element.name}} {{detail.element.contactPerson }}...
        <button mat-raised-button (click)="openEditCustomerDialog(detail.element)">Endre</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row 
      *matRowDef="let row; columns: displayedColumns;" 
      matRipple 
      class="element-row" 
      [class.expanded]="expandedElement == row"
      (click)="expandedElement = row">
    </mat-row>

    <mat-row
      *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" 
      [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
      style="overflow: hidden">
    </mat-row>

  </mat-table>
</div>