<h1 mat-dialog-title>Legg til / Endre Kunde</h1>

<div mat-dialog-content>
    <form #customerForm="ngForm">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="form-group">
                    <label class="center-block">Navn
                        <input type="text" required class="form-control" name="name" [(ngModel)]="data.name">
                    </label>
                </div>
                <div class="form-group">
                    <label class="center-block">Organisasjonsnummer
                        <input type="text" class="form-control" name="organizationNumber" [(ngModel)]="data.organizationNumber">
                    </label>
                </div>
                <div class="form-group">
                    <label class="center-block">Kundetype
                        <select class="form-control" id="type" name="type" [(ngModel)]="data.type" required>
                            <option *ngFor="let type of data.customerTypes" [ngValue]="type">{{type}}</option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="form-group">
                    <label class="center-block">Epost
                        <input class="form-control" required name="email" [(ngModel)]="data.email">
                    </label>
                </div>
                <div class="form-group">
                    <label class="center-block">Telefon
                        <input class="form-control" name="phone" [(ngModel)]="data.phone">
                    </label>
                </div>
                <div class="form-group">
                    <label class="center-block">Kontaktperson
                        <input type="text" class="form-control" name="contactPerson" [(ngModel)]="data.contactPerson">
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
                <h4>Leveringsadresse</h4>
                <div class="form-group">
                    <label>Navn
                        <input type="text" class="form-control" name="daName" [(ngModel)]="data.deliveryAddress.name" required>
                    </label>
                    <label>Gateadresse 1
                        <input type="text" class="form-control" name="daStreet1" [(ngModel)]="data.deliveryAddress.street1"
                            required>
                    </label>
                    <label>Gateadresse 2
                        <input type="text" class="form-control" name="daStreet2" [(ngModel)]="data.deliveryAddress.street2">
                    </label>
                    <label>Postnummer
                        <input type="text" class="form-control" name="daZipCode" [(ngModel)]="data.deliveryAddress.zipCode"
                            required>
                    </label>
                    <label>Stedt
                        <input type="text" class="form-control" name="daPlace" [(ngModel)]="data.deliveryAddress.place"
                            required>
                    </label>
                    <label>Land
                        <input type="text" class="form-control" name="daCountry" [(ngModel)]="data.deliveryAddress.country"
                            required>
                    </label>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <h4>Fakturaadresse</h4>
                <div class="form-group">
                    <label>Navn
                        <input type="text" class="form-control" name="faName" [(ngModel)]="data.invoiceAddress.name">
                    </label>
                    <label>Gateadresse 1
                        <input type="text" class="form-control" name="faStreet1" [(ngModel)]="data.invoiceAddress.street1">
                    </label>
                    <label>Gateadresse 2
                        <input type="text" class="form-control" name="faStreet2" [(ngModel)]="data.invoiceAddress.street2">
                    </label>
                    <label>Postnummer
                        <input type="text" class="form-control" name="faZipCode" [(ngModel)]="data.invoiceAddress.zipCode">
                    </label>
                    <label>Stedt
                        <input type="text" class="form-control" name="faPlace" [(ngModel)]="data.invoiceAddress.place">
                    </label>
                    <label>Land
                        <input type="text" class="form-control" name="faCountry" [(ngModel)]="data.invoiceAddress.country">
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4>Notat</h4>
                <div class="form-group">
                    <label>
                        <textarea style="width:100%" name="note" [(ngModel)]="data.note"></textarea>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <div mat-dialog-actions>
                        <button mat-button (click)="onNoClick()">Avbryt</button>
                        <button mat-button [mat-dialog-close]="data" cdkFocusInitial [disabled]="!customerForm.valid">Lagre
                            endringer</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>