

<div class="row">
  <div class="col-12 col-lg-6">
      <mat-card class="product-card">
          <mat-card-header>
            <mat-card-title>#aboabo</mat-card-title>
          </mat-card-header>
          <h1>{{subscriptionActiveCount + giftSubscriptionCount}} aktive abos</h1>
          
          <p>
            {{subscriptionFortnightlyCount + giftSubscriptionFortnightlyCount}} annenhver uke, {{subscriptionMonthlyCount + giftSubscriptionMonthlyCount}} månedlig
          </p>

          <mat-card-content>
            <p>
              
              Antall poser per måned: <strong>{{ subsciptionsBagsPerMonthCount }}</strong> <br>

              Antall poser 1. tirsdag : <strong> {{ subsciptionsBagsPerMonthlyCount + subsciptionsBagsPerFortnightlyCount}} </strong> <br>

              Antall poser 3. tirsdag: <strong> {{subsciptionsBagsPerFortnightlyCount}} </strong> <br>

              Gyldne abosnittet: <strong>{{ (subsciptionsBagsPerMonthCount / (subscriptionActiveCount + giftSubscriptionCount)) | number:'1.1-1' }}</strong> <br>

              Abos på pause: {{subscriptionOnHoldCount }} <br>

              Gaveabos: {{giftSubscriptionCount}}
            </p>

            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th>4</th>
                  <th>5</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Annenhver uke ({{subsciptionsBagsPerFortnightlyCount}} poser)</td>
                  <td>{{bagCounter.fortnightly.one}}</td>
                  <td>{{bagCounter.fortnightly.two}}</td>
                  <td>{{bagCounter.fortnightly.three}}</td>
                  <td>{{bagCounter.fortnightly.four}}</td>
                  <td>{{bagCounter.fortnightly.five}}</td>
                </tr>
                <tr>
                    <td>Månedlig ({{subsciptionsBagsPerMonthlyCount}} poser)</td>
                    <td>{{bagCounter.monthly.one}}</td>
                    <td>{{bagCounter.monthly.two}}</td>
                    <td>{{bagCounter.monthly.three}}</td>
                    <td>{{bagCounter.monthly.four}}</td>
                    <td>{{bagCounter.monthly.five}}</td>
                  </tr>
              </tbody>

            </table>
          </mat-card-content>
        </mat-card>
  </div>

  <div class="col-12 col-lg-6">
    <mat-card class="product-card">
        <mat-card-header>
          <mat-card-title>#orders</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Processing: <strong>{{ orderProcessingCount }}</strong> <br>
            Pending payment: <strong>{{ orderPendingPaymentCount }}</strong> <br>
          </p>
        </mat-card-content>
      </mat-card>
  </div>

</div>
