<mat-tab-group>
    <mat-tab label="DASHBOARD" *ngIf="isSignedIn">
        <!-- <app-dashboard></app-dashboard> -->
    </mat-tab>
    <mat-tab label="BESTILLINGER" *ngIf="isSignedIn">
        <app-orders></app-orders>
    </mat-tab>
    <mat-tab label="KUNDER" *ngIf="isSignedIn">    
        <app-customers></app-customers>
    </mat-tab>
    <mat-tab label="PRODUKTER">
        <app-products></app-products>
    </mat-tab>        
    <mat-tab label="MIN KONTO">
        <app-my-account></app-my-account>
    </mat-tab>    
</mat-tab-group>
