@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

// @font-face {    
//     font-family:'Open Sans';     
//     src:url('assets/fonts/OpenSans-Light-webfont.eot');     
//     src:url('assets/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),         
//     url('assets/fonts/OpenSans-Light-webfont.woff') format('woff'),         
//     url('assets/fonts/OpenSans-Light-webfont.ttf') format('truetype'),         
//     url('assets/fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');     
//     font-weight:300;     
//     font-style:normal
// }

// @font-face{    font-family:'Open Sans';     src:url('css/fonts/OpenSans-Regular-webfont.eot');     src:url('css/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),         url('css/fonts/OpenSans-Regular-webfont.woff') format('woff'),         url('css/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),         url('css/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');     font-weight:400;     font-style:normal}
// @font-face{    font-family:'Open Sans';     src:url('css/fonts/OpenSans-Semibold-webfont.eot');     src:url('css/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),         url('css/fonts/OpenSans-Semibold-webfont.woff') format('woff'),         url('css/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),         url('css/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');     font-weight:600;     font-style:normal}
// @font-face{    font-family:'Open Sans';     src:url('css/fonts/OpenSansBold-webfont.eot');     src:url('css/fonts/OpenSansBold-webfont.eot?#iefix') format('embedded-opentype'),         url('css/fonts/OpenSansBold-webfont.woff') format('woff'),         url('css/fonts/OpenSansBold-webfont.ttf') format('truetype'),         url('css/fonts/OpenSansBold-webfont.svg#OpenSansBold') format('svg');  font-weight:700;  font-style:normal}

body {
    font-family: 'Lato', 'Open Sans', sans-serif;
    color: $primary-color;
    background-color: #f6f6f6;
}

p {
    margin: 1em 0.5em;
}

.navbar {
    background-color: #fff;
}

.btn {
    text-transform: uppercase;
    padding: 1em 1.5em !important;
    border-radius: 0;
    font-size: 0.9rem;
    
    &.btn-primary {
        color: #fff;
    }

    &:hover {
        background-color: darken($primary, 15%);
        cursor: pointer;
    }

    &[disabled] {
        background-color: lighten($primary, 15%);
        cursor: default;
    }
}

.card {
    margin-bottom: 1em;

    .card-header {
        background: $primary;
        color: #fff;

        .btn {
            color: #fff;
            &:hover {
                background: $primary;
            }
        }
    }

    .card-body {
        padding-bottom: 0.5em;
    }
    
    .btn {
        font-size: 0.75em;
        padding: 0.75em 1em !important;
    }
}
form {
    label {
        display: block;    
    }

    .form-control {
        border-radius: 0;
    }

    [type=checkbox].form-check-input {
        margin-left: 0;
    }
}

h3 {
    margin-top: 1em;
}

h4 {
    margin-top: 0.5em;
    font-size: 1.2rem;
}

h1, h2, h3, h4 {
    font-weight: 300;
}

.navbar-brand img {
    max-width: 50px;
}

.price-label {
    color: $primary;
    font-weight: 500;
    font-size: 1.2em;
    margin: 0.5em;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 4px solid $primary !important;
}
  
.ng-invalid:not(form)  {
    border-left: 4px solid darken(#d81939, 10%);
}