<div *ngIf="status === PAYMENT_FAILED">Payment failed... :(</div>

<div *ngIf="status === PAYMENT_IN_PROGRESS">
  PAYMENT IN PROGRESS
</div>

<div *ngIf="status === PAYMENT_COMPLETED">
  THANKS FOR YOUR ORDER, ENJOY THE COFFEE!
</div>

<div *ngIf="status === PAYMENT_NOT_STARTED || status === PAYMENT_FAILED">
  <h3>Faktureringsdetaljer</h3>
  <app-checkout-customer-details></app-checkout-customer-details>
  
  <h3>Ordren din</h3>
  <app-basket [isCheckoutModel]="true"></app-basket>
  
  <h3>Betalning</h3>
  <app-checkout-payment></app-checkout-payment>
  
  <button type="button" class="btn btn-primary" (click)="sendOrder()">Send ordre</button>
</div>
