<div *ngIf="status === PAYMENT_FAILED">Payment failed... :(</div>

<div *ngIf="status === PAYMENT_IN_PROGRESS">
  PAYMENT IN PROGRESS
</div>

<div *ngIf="status === PAYMENT_COMPLETED">
  THANKS FOR YOUR ORDER, ENJOY THE COFFEE!
</div>

<div *ngIf="status === PAYMENT_NOT_STARTED || status === PAYMENT_FAILED">

  <div [hidden]="isSignedIn()">
      <div id="accordion">
          <div class="card">
              <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Registrert som kunde? Klikk her for å logge inn
                  </button>
              </h5>
              </div>
          
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                  <app-sign-in (signedIn)="onSignedIn($event)"></app-sign-in>
              </div>
              </div>
          </div>
      </div>      
  </div>

  <div class="row">
    <div class="col-lg-8">
        <h3>Faktureringsdetaljer</h3>
        <app-checkout-customer-details [customer]="customer" (customerUpdated)="onCustomerUpdated($event)"></app-checkout-customer-details>
    </div>

    <div class="col-lg-4">
        <h3>Ordren din</h3>
        <app-basket [isCheckoutModel]="true"></app-basket>
        
        <h3>Betalning</h3>
        <app-checkout-payment></app-checkout-payment>

        <button type="button" class="btn btn-primary float-right" (click)="sendOrder()">Til betaling</button>

    </div>

  </div>
  
</div>
